  
body {
    background-color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(226, 226, 226);
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.page_main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 10% 100px;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(226, 226, 226);
}

h1 {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
}



/* Paragraph & Typographic */

p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
  }
  
  .centered {
    text-align: center;
  }